---
layout: default
title: About
section_id: about
bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 95
  - title: Site management
    percent: 70
  - title: Branding
    percent: 61
members:
  - image: member-1.png
    name: Shirley Adkins
    position: Founder &amp; Designer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-2.png
    name: Uriel Garrett
    position: Director &amp; Project Manager
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
  - image: member-3.png
    name: Dulce Welch
    position: Designer &amp; Art Director
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-4.png
    name: Stephanie Morse
    position: Developer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Who we are</h2>
      <p>We are happy to know you are happy</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
        The Tasting Panel is a sister company to Vibrand Research, and part of the Vibrand Group of research companies.</p>
<p>In our work at Vibrand, we have been running tasting panels for our clients for a while, and realised that there was a need to broaden this service.</p><p>
Simply put, The Tasting Panel offers tasting panels! We convene (typically) 200 consumers in a relaxed, home environment and offer them blind tastings of products. They are asked to fill out a questionnaire, which is carefully designed by our expert team. The complexity of the questionnaire depends on the nature of the project (see our toolbox), but we prefer to keep things as simple as possible.</p>
<p>We place great value on evaluating products in the environment which they are consumed. We don’t believe in testing booths, laboratory settings, external sensory elimination and the like.  We are interested in evaluating food and drink in a real life environment.   We believe this delivers better, more realistic results and allows for a more relaxed environment. It also brings cost savings that are passed onto our clients. So no white coats are allowed at our tastings!</p>
<p>And while we call ourselves the Tasting Panel, we do also offer product testing – from razors to cosmetics; from washing powder to floor cleaner we will find a way to test it.</p>
<p>So whether you are evaluating whether to launch a new product, tweak an existing one, launch a limited edition, evaluate competitor products against you own – The Tasting Panel has the answer.</p>
    </div>
    <div class='medium-6 large-6 columns'>
      <p>Worried there is too much garlic in your Chicken a la King?  That your cheese is too rubbery?  That your yoghurt is too lumpy?</p><p>
That your kitchen cleaner leaves residue; that your face cream is too thick</p>
<p>Want to know whether your competitor's ice cream is better than yours?  Should yours be creamier? What variants are likely to hit the spot this summer? You have three limited editions to consider and you can only launch one? </p>
<p>You’re a retailer and you want to be sure that your own brands are better than your competitor own brands?</p>
<p>Want to know whether your beer if too fizzy, your whiskey too oaky, your wine too thin, your RTD too sweet?</p>
<p>We’ll recommend the right approach from our toolbox (see here) - from the simple to the complex; from the 2 product face off to multi product preference mapping; from JAR (Just About Right) to cluster to principal component analysis, we have the tool to fit the need.</p>
<p>To answer these and a thousand other questions you may have, The Tasting Panel has the answer.</p>
    </div>
  </div>
</div>



<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>

    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>