---
layout: default
title: The Tasting Panel
section_id: home
works:
  - image: work-1.jpg
    title: Beautiful Girl
    category: Design &amp; Development
  - image: work-2.jpg
    title: Look at me
    category: Design &amp; Development
  - image: work-3.jpg
    title: Am I cute
    category: Design &amp; Development
  - image: work-4.jpg
    title: Umbrella
    category: Design &amp; Development
  - image: work-5.jpg
    title: Canned Bros
    category: Design &amp; Development
  - image: work-6.jpg
    title: Hale
    category: Design &amp; Development
  - image: work-7.jpg
    title: A beautiful day
    category: Design &amp; Development
  - image: work-8.jpg
    title: Flower book
    category: Design &amp; Development

services:
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow

milestones:
  - from: 0
    to: 69
    title: Projects completed
  - from: 0
    to: 726
    title: Cups of coffee offered
  - from: 0
    to: 59
    title: Happy clients
  - from: 0
    to: 121
    title: Articles published

bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 95
  - title: Site management
    percent: 70
  - title: Branding
    percent: 61

members:
  - image: member-1.png
    name: Shirley Adkins
    position: Founder &amp; Designer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-2.png
    name: Uriel Garrett
    position: Director &amp; Project Manager
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
  - image: member-3.png
    name: Dulce Welch
    position: Designer &amp; Art Director
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: facebook
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow
  - image: member-4.png
    name: Stephanie Morse
    position: Developer
    desc:
      Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum Unde labore corporis nam dignissimos tenetur vero enim. Eligendi est quam et in recusandae ratione facilis vel iste est rerum.
    socials:
      - name: twitter
        link: #
        color: yellow
      - name: vimeo
        link: #
        color: yellow
      - name: mail
        link: #
        color: yellow

---

{% include slider.html %}



<div class='full panel-blue no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Let us help you create world class products! Contact us to book a tasting panel.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='contact-us.html'>Contact Us</a>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full white'>
  <div class='row'>
    <div class='special-title-left'>
          <h2>About us</h2>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
       Simply put, The Tasting Panel offers tasting panels! We convene (typically) 200 consumers in a relaxed, home environment and offer them blind tastings of products. They are asked to fill out a questionnaire, which is carefully designed by our expert team. The complexity of the questionnaire depends on the nature of the project <a href="our-toolbox.html" target="_blank">(see our toolbox)</a>, but we prefer to keep things as simple as possible.</p>
    </div>
    <div class='medium-6 large-6 columns'>
      <img src="images/scones.jpg">
    </div>
  </div>
</div>

{% include get-in-touch.html %}